#pragma once
#include <Arduino.h> // For IPAddress and byte types

// --- User-Specific Configuration ---
//    Copy this file to "config_secrets.h" and fill in your details.
//    "config_secrets.h" is ignored by git to keep your secrets safe.

// --- MQTT Configuration ---
static IPAddress MQTT_SERVER(192, 168, 1, 100);    // <-- Set your MQTT server IP
static const char MQTT_USER[] = "your_mqtt_user";  // <-- Set your MQTT username
static const char MQTT_PASS[] = "your_mqtt_pass";  // <-- Set your MQTT password
const char MQTT_ROOT_TOPIC[] = "RAMSES/GATEWAY";   // "RAMSES/GATEWAY" is the default for ramses_rf/ramses_cc - DO NOT CHANGE

// --- Device Information for MQTT ---
static constexpr const char* SOFTWARE_VERSION = "ramses_esp_eth_1.2.2";
static constexpr const char* HARDWARE_VERSION = "ESP32-S3 DevKitC-1";